@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
*{
  padding: 0;
  margin: 0;
}
.grad {
/* background-color: #f7f7f7; */
background-image: url(../../public/Car/contact.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.c{
  opacity: 0.8;
  text-shadow: 2px 2px 2px white ;
  
}
.logo{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.d{
  opacity: 1;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 100px;
  background-color: rgb(192, 192, 192);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0a0218; 
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3a0890; 
}

.bg{
  background-image: url(../../public//Car/bg0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.h1{
  font-size: 80px;
}
.h2{
  opacity: 0.5;
}
.btn {
  display: flex;
  padding: 12px 58px;
  border: 2px solid;
  width: -moz-fit-content;
  width: max-content;
}
:hover.btn{
  color: rgb(21, 21, 6);
  background-color: white;
}

.btnn{
  /* background-color: #fff; */
  padding: 0.8em 1.5em;
  /* border-radius: 20em; */
  border: 2px solid white;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
  transition: all 100ms linear;
  color: #0ebac5;
  position: relative;
  box-shadow: inset 0 4px 6px -1px rgb(0 0 0 / 0.1), 
  0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.btnn:active {
  box-shadow: inset 0 0 0 4px #193f046b;
}

.btnn::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  border-radius: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  transition: all 500ms ease-in-out;
  opacity: 0;
  animation: flash 100ms ease-in-out;
  transform: scaleX(2) scaleY(2);
}

.btnn:hover::before {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

@keyframes flash {
  0%{
      opacity: 1;
      transform: translate(45px);
  }
  100%{
      opacity: 0;
      transform: translate(0);
  }
}
h1{
  text-transform: uppercase;
}


.btnn{
  /* background-color: #fff; */
  padding: 0.8em 1.5em;
  /* border-radius: 20em; */
  border: 2px solid white;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
  transition: all 100ms linear;
  color: #0ebac5;
  position: relative;
  box-shadow: inset 0 4px 6px -1px rgb(0 0 0 / 0.1), 
  0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.btnn:active {
  box-shadow: inset 0 0 0 4px #c3d4ba6b;
}

.btnn::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  border-radius: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  transition: all 500ms ease-in-out;
  opacity: 0;
  animation: flash 100ms ease-in-out;
  transform: scaleX(2) scaleY(2);
}
.imgp{
  /* width: 23px; */
}
.footer{
  border-top: 2px solid white;
  padding: 53px;
  
}
.text{
  text-shadow: 0px 0px 20px #877f99;
  font-size: 25px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btnn:hover::before {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

@keyframes flash {
  0%{
      opacity: 1;
      transform: translate(45px);
  }
  100%{
      opacity: 0;
      transform: translate(0);
  }
}

  .btnn {
    /* padding: 0.8em 1.5em; */
    padding: 2px 8px;
    /* border: 2px solid white; */
    border: 2px solid #ffffff;
    /* cursor: pointer; */
    cursor: pointer;
    font-size: 20px;
    transition: all 100ms linear;
    color: #0ebac5;
    position: relative;
    /* box-shadow: inset 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); */
    box-shadow: inset 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }

  .btnn:active {
    /* box-shadow: inset 0 0 0 4px #c3d4ba6b; */
    box-shadow: inset 0 0 0 4px rgba(195, 212, 186, 0.42);
  }

  .btnn::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    border-radius: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    transition: all 500ms ease-in-out;
    opacity: 0;
    /* animation: flash 100ms ease-in-out; */
    animation: flash 100ms ease-in-out;
    transform: scaleX(2) scaleY(2);
  }

  .footer {
    border-top: 2px solid white;
    padding: 53px;
  }

  .text {
    text-shadow: 0px 0px 20px #877f99;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .btnn:hover::before {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
  }

  @keyframes flash {
    0% {
      opacity: 1;
      transform: translate(45px);
    }
    100% {
      opacity: 0;
      transform: translate(0);
    }
  }
